@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GUAFLIX</h1>
    <p class="lead">La aplicación por excelencia para contenido audiovisual online</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ingresar</h2>
        <p>
            Ingreso a su cuenta en la plataforma.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Ingresar", "Login", "Proyecto")</a></p>
    </div>
</div>